@model IEnumerable<CmsShoppingCart.Models.ViewModels.Pages.PageViewModel>

@{
    ViewBag.Title = "Pages";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add New Page", "AddPage")
</p>

@if (!Model.Any())
{
    <h1>No Pages.</h1>
}
else
{
    <table class="table sorting">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasSideBar)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasSideBar)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditPage", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeletePage", new { id = item.Id }, new { @class = "delete" })
                </td>
            </tr>
        }

    </table>
}

@section Scripts{
    
    @Scripts.Render("~/bundles/jquery-ui")

    <script>
        $(function () {
            $("a.delete").click(function () {
                if (!confirm("confirm delete ?"))
                    return false;
            });
        });
    </script>
    
}
